/* html{
    font-size: 100%;
} */

body{
    font-family: 'Comme', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0rem;
    margin: 0rem;
    background-color: rgb(250,250,250);
}

.navbar{
    width: 100%;
    height: 4.5rem;
    background-color: rgb(37, 36, 36);
    align-items: center;
    padding-top: .7rem;
    position: fixed;
    z-index: 999;
    border-radius: .1rem;
    opacity: 0.8;
}

.navbar li{
    display: inline-block;
    align-items: center;
    text-align: center;
    color: rgb(186,186,186);
    font-size: 1.2rem;
    padding-left: 3.5rem;
    cursor: pointer;
}

.navbar .logo{
    width: 1.8rem;
}

.nav-line{
    display: inline-block;
    height: 4.0rem;
    font-size: 1.5rem;
    text-align: center;
}

.nav-line p{
    margin-top: 6.0rem;
    padding-left: 32.8rem;
    
}

.image1{
    display: flex;
    padding-top: 1rem;
    cursor: pointer;
}

.image1 .img-1 {
    width: 100%;
    max-height: 60rem;
}


.image1 a{
    display: flex;
    text-decoration: none;
    margin-top: 16.7rem;
    color: rgb(37,137,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin-bottom: 0rem;
}

.image1 .l1{
    position: absolute;
    left: 61rem;
}

.image1 .s1{
    position: absolute;
    left: 73rem
}

.image1 .l2{
    position: absolute;
    left: 80rem;
}

.image1 .s2{
    position: absolute;
    left: 84.5rem
}

.image1 a:hover{
    text-decoration: underline;
}
.image1 span{
    margin-top: 16.7rem;
    margin-left: .2rem;
    font-size: 2.3rem;
    color: rgb(37,137,230);
}

.image2{
    font-family:'Noto Sans', sans-serif;;
    
    color: black;
    background-color: rgb(250,250,250);
}

.image2 p{
    font-size: 2.5rem;
    text-align: center;
}

.image2 h1{
    padding-top: 4.5rem;
    font-size: 5rem;
    text-align: center;
}
.image2 a{
    margin-left: -4rem;
    text-decoration: none;
    color: rgb(37,137,230);
    font-size: 2.3rem;
}

.image2 #buy-link{
    margin-left: 2rem;
}

.image2 a:hover{
    text-decoration: underline;
}

.image2 .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image2 span{
    color: rgb(37,137,230);
    font-size: 2.3rem;
}

.image3 img{
    width: 100%;
    cursor: pointer;
}

.image3 a{
    display: flex;
    text-decoration: none;
    margin-top: -49.8rem;
    color: rgb(37,137,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}

.image3 span{
    color: rgb(37,137,230);
    margin-top: 19.3rem;
    font-size: 2.3rem;
}

.image3 .l1{
    position: absolute;
    left: 63rem;
}

.image3 .s1{
    position: absolute;
    left: 75.5rem;
}

.image3 .l2{
    position: absolute;
    left: 82rem;
}

.image3 .s2{
    position: absolute;
    left: 86.5rem
}

.image3 a:hover{
    text-decoration: underline;
}


.image4 img{
    width: 100%;
    cursor: pointer;
}

.image4 a{
    display: flex;
    text-decoration: none;
    color: rgb(37,137,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}

.image4 span{
    color: rgb(37,137,230);
    margin-top: 17.8rem;
    font-size: 2.3rem;
}

.image4 .l1{
    position: absolute;
    margin-top: -44rem;
    left: 20rem;
}

.image4 .s1{
    position: absolute;
    margin-top: 15.1rem;
    left: 51.5rem;
}

.image4 .l2{
    position: absolute;
    margin-top: -5rem;
    left: 105rem;
}

.image4 .s2{
    position: absolute;
    margin-top: 54.2rem;
    left: 117.5rem;
}

.image4 a:hover{
    text-decoration: underline;
}

.image5 img{
    width: 100%;
    cursor: pointer;
}

.image5 a{
    display: flex;
    text-decoration: none;
    margin-top: -458rem;
    color: rgb(37,137,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23rem;
}

.image5 span{
    color: rgb(37,137,230);
    margin-top: 14.5rem;
    font-size: 2.3rem;
}

.image5 .l1{
    position: absolute;
    left: 26.4rem;
}

.image5 .s1{
    position: absolute;
    left: 39rem;
}

.image5 .l2{
    position: absolute;
    left: 43.8rem;
}

.image5 .s2{
    position: absolute;
    left: 48.5rem;
}

.image5 .l3{
    position: absolute;
    right: 40.6rem;
}

.image5 .s3{
    position: absolute;
    right: 39rem;
}

.image5 .l4{
    position: absolute;
    right: 29.1rem;
}

.image5 .s4{
    position: absolute;
    right: 27.3rem;
}

.image5 a:hover{
    text-decoration: underline;
}


.image6 img{
    width: 100%;
    cursor: pointer;
}

.image6 a{
    display: flex;
    text-decoration: none;
    color: rgb(37,137,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}

.image6 span{
    color: rgb(37,137,230);
    font-size: 2.3rem;
}

.image6 .l1{
    position: absolute;
    margin-top: -38.8rem;
    left: 26.3rem;
}

.image6 .s1{
    position: absolute;
    margin-top: 20.5rem;
    left: 45.8rem;
}

.image6 .l2{
    position: absolute;
    margin-top: -44rem;
    right: 40.6rem;
}

.image6 .s2{
    position: absolute;
    margin-top: 15.4rem;
    right: 39rem;
}

.image6 .l3{
    position: absolute;
    margin-top: -44rem;
    right: 25.1rem;
}

.image6 .s3{
    position: absolute;
    margin-top: 15.3rem;
    right: 23.6rem;
}


.footer{
    margin: auto;
    width: 63%;
}
.footer p{
    font-size: 1.3rem;
    font-family: 'Comme', sans-serif;
    font-weight: bold;
}

.footer #links{
    float: left;
    width: auto;
    height: auto;
    margin-right: 4rem;
}
.footer #links a{
    padding-top: -1rem;
    text-decoration: none;
    color: rgb(113, 113, 115);
    font-size: 1.2rem;
}

#links a:hover{
    text-decoration: underline;
}
.end{
    display: inline-block;
    margin: auto;
    width: 100%;
}
.end hr{
    margin: 0rem;
    border-top: .1rem solid rgb(113, 113, 115);
}
.end p{
    display: inline-block;
    font-weight: 100;
    margin: 1rem;
}
.end #p2{
    margin-left: 3rem;
}
.end #p3{
    margin-left: 10rem;
}
.end span:hover{
    text-decoration: underline;
    cursor: pointer;
}